body {
    font-size: 28px;
    background-color: darkslategray;
    text-align: center;
    font-family: "Victor Mono", sans-serif;
}

.input {
    font-family: "Victor Mono", sans-serif;
    font-size: 18px;
    text-align: center;
}

#calculate_button {
    font-size: 18px;
    font-family: "Victor Mono", sans-serif;
    width: 115px;
}

#save_button {
    font-size: 18px;
    font-family: "Victor Mono", sans-serif;
    width: 115px;
}

#container {
    background-color: #317155;
    place-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.row {
    display: flex;
    gap: 10px;
    align-items: center;
}